{% extends 'base.html' %}

<!-- Extended data for the title -->
{% block title %}
Alerts
{% endblock %}

<!-- Extended data for the box title -->
{% block box_title %}
Alert History
{% endblock %}

<!-- Extended data for the top body portion -->
{% block top %}
<table class="table table-hover">
    <thead>
      <tr>
        <th>Alert Type</th>
        <th>From Who</th>
        <th>Date Created</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Text</td>
        <td>Bobby</td>
        <td>10/1/2016</td>
        <td>I got the liquor :) !! </td>
      </tr>
      <tr>
        <td>Phone Call</td>
        <td>Moe</td>
        <td>10/01/2016</td>
        <td>555-555-5555</td>
      </tr>
      <tr>
        <td>Installed App</td>
        <td>N/A</td>
        <td>10/01/2016</td>
        <td>SnapChat</td>
      </tr>
      <tr>
        <td>Site Visited</td>
        <td>N/A</td>
        <td>10/01/2016</td>
        <td>pornsite.com</td>
      </tr>
    </tbody>
  </table>
{% endblock %}

<!-- Extended data for the medium body portion -->
{% block middle %}
{% endblock %}

<!-- Extended data for the bottom body portion -->
{% block bottom %}
{% endblock %}

<!-- Extended data for the footer -->
{% block footer %}
{% endblock %}
