{% extends 'base.html' %}

<!-- Extended data for the header -->
{% block header %}

 <script src=https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js> </script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

<style>

    .fill-div {
	    display: block;
    	text-decoration: none;
        color: inherit;
	}



    .fill-div:visited {
    	text-decoration: none;
        color: inherit;
	}

    .fill-div:hover {
    	text-decoration: none;
        color: inherit;
        border:4px inset green;
        margin: -4px;
        /*background: linear-gradient(to bottom, lightblue, white);;*/
        /*border:1px solid #000000; */
	}

    .aligned-header {
        text-align: center;
    }

    .chart-canvas {
        float: none;
        margin: 0 auto;
    }

    .chart-canvas:hover {


    }

    .AlertContainer {
        text-align: center;
    }

    .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;
  }


</style>



{% endblock %}

<!-- Extended data for the top body portion -->
{% block top %}

<!--<img src=http://stream1.gifsoup.com/view7/2534658/snoop-dogg-in-dreamland-o.gif> </img> -->

<div class="AlertContainer" >



    <!-- here begins the alert carousel -->
    <h2>{{"Daniel"}}'s Alerts<span class="badge" id="alert-badge"> 10 </span></h2> <!-- put counter since last click for new alerts inside span!-->

    <p>New alets shown below:</p>

    <a href="profile.html" class="fill-div" target="_blank"> <!-- will probably need to replace with python/javascript redirect -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

        <!-- for 1 to alerts.length -->
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">


        <div class="item active">
            <!-- If new alerts, show alert box, else show default text and exit -->
          <img src="http://vignette3.wikia.nocookie.net/sanicsource/images/f/fa/Sanic2.png/revision/latest?cb=20150221082206" alt="Chania">
        </div>

        <!-- for new alerts, from alert.next to alert.last ... -->
        <div class="item">
          <img src="http://vignette3.wikia.nocookie.net/sanicsource/images/f/fa/Sanic2.png/revision/latest?cb=20150221082206"  alt="Chania">
        </div>

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

</a>
</div>

<br> </br>


{% endblock %}

<!-- Extended data for the medium body portion -->
{% block medium %}



<!-- Example Line Graph Canvas -->
<!--<canvas id="myCanvas" width="500" height="500" style="border:1px solid #c3c3c3;">
Your browser does not support the HTML5 canvas tag.
</canvas>
<br>
</br>
-->

<!-- Pie graphs for alert catagorization and app catagorization -->
<div class="container">
    <div class="row">

        <div class="col-sm-6" >

            <a href=alert/ class="fill-div center-block" target="_blank">
            <h1 class="aligned-header">Alert Overview</h1>

            <canvas class="chart-canvas" id="alert-catagory-graph" width="500" height="500" style="">
            </canvas>
            </a>
        </div>



        <div class="col-sm-6">

            <a href=app/ class="fill-div center-block" target="_blank">
            <h1 class="aligned-header">App Overview</h1>
            <canvas class="chart-canvas" id="app-catagory-graph" width="500" height="500" style="">
            </canvas>
            </a>
        </div>

    </div>



</div>


{% endblock %}

<!-- Extended data for the footer body portion -->
{% block footer %}
<script src="{{STATIC_URL}}AlertPieGraph.js"></script>
<script src="{{STATIC_URL}}AppPieGraph.js"></script>
{% endblock %}
