{% extends 'index_base.html' %}

<!-- Extended data for the header -->
{% block header %}




 <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/calendar.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"> </script>
  <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
 <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"> </script>
 <script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>

 <script type="text/javascript">
     var website_data_pie = {{web_json}};

     var alert_data_pie = {{ alert_json }};

     var dataPie = [
         {
             value: 60,
             color: "#F7464A",
             highlight: "#FF5A5E",
             label: "Porn"
         },
         {
             value: 20,
             color: "#46BFBD",
             highlight: "#5AD3D1",
             label: "New Apps"
         },
         {
             value: 10,
             color: "#46BFBD",
             highlight: "#5AD3D1",
             label: "New contact"
         },
         {
             value: 10,
             color: "#FDB45C",
             highlight: "#FFC870",
             label: "Yellow"
         }
     ];
 </script>

<script>
/*$(document).ready(function()
	{
		$('#app_table').DataTable();
	}
);
*/
</script>

<style>

.smiley{
    max-width: 50%;
    max-height: 50%;
}

.table-wrapper {
  overflow-x: scroll;
}
th, td {
  min-width: 200px;
}

    .fill-div {
	    display: block;
    	text-decoration: none;
        color: inherit;
	}



    .fill-div:visited {
    	text-decoration: none;
        color: inherit;
	}

    .fill-div:hover {
    	text-decoration: none;
        color: inherit;
        border:4px inset green;
        margin: -4px;
        /*background: linear-gradient(to bottom, lightblue, white);;*/
        /*border:1px solid #000000; */
	}

    .aligned-header {
        text-align: center;
    }

    .chart-canvas {
        float: none;
        margin: 0 auto;
    }

    .chart-canvas:hover {


    }

    .AlertContainer {
        text-align: center;
    }

    .alert_box {

        width:25%;
        height:25%;
        min-width:40%;
        min-height:40%;
        overflow:hidden;
        display:block;
        margin: auto;
  }

  #name{
  		text-transform: capitalize;
  	}

</style>



{% endblock %}

{% block title %}
<strong><h1 id=name>Hello {{name}} ! </strong><span class="badge" id="alert-badge"> {{alert_count}} </span></h1> <!-- put counter since last click for new alerts inside span!-->

<div class="AlertContainer" >
    <!-- here begins the alert carousel -->
    <!-- New Alerts Shown Below: -->
    {% if alert_count == 0 %}
      <h2>No New Alerts At This Time</h2>
    {% else %}
      <h2>New alerts shown below:</h2>

      <a class="fill-div" target="_blank"> <!-- will probably need to replace with python/javascript redirect -->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

          {% for i in alert_range %}
              <li data-target="#myCarousel" data-slide-to="{{i}}"></li>
          {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <!--The first picture needs to have item active class  EH-->
          {% if alert_count == 1 %}
            {% for alert in alert_list %}
              <div class="item active">
                <div class="small-box bg-yellow alert_box">
                  <div class="inner">
                    <h3>{{alert.alert_string}}</h3>
                  </div>
                  <div class="icon">
                    <i class="{{alert.icon}}"></i>
                  </div>
                  <a href="/CD9/alert_details/{{alert.id}}" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
            {% endfor %}
          {% else %}
          <div class="item active">
            <div class="small-box bg-{{first_alert.color}} alert_box">
              <div class="inner">
                <h3>"{{ first_alert.alert_string }}"</h3>
              </div>
              <div class="icon">
                <i class="{{first_alert.icon}}"></i>
              </div>
              <a href="/CD9/alert_details/{{first_alert.id}}" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>

          <!--All other slides simply are of class item  EH-->
          {% for alert in alert_list %}
            <div class="item">
              <div class="small-box bg-{{alert.color}} alert_box">
                <div class="inner">
                  <h3>"{{alert.alert_string}}"</h3>
                </div>
                <div class="icon">
                  <i class="{{alert.icon}}"></i>
                </div>
                <a href="/CD9/alert_details/{{alert.id}}" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
          {% endfor %}

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

</a>
</div>
{% endif %}
{% endif %}
{% endblock %}

{% block box_title_alerts %}
    Alert Overview Percentage
{% endblock %}
<!-- Extended data for the app body -->
{% block body_alerts %}
{% if alerts %}
<script> $ = jQuery; </script>
    <a href="/CD9/alert_overview/" class="fill-div center-block" target="_blank">
      <canvas class="chart-canvas" id="alert-catagory-graph" width="300" height="300" style=""></canvas>
    </a>
{% else %}
    <h3> Currently No Alert Data !</h3>
{% endif %}
{% endblock %}

{% block box_title_sites %}
    Websites Overview Percentage
{% endblock %}

<!-- Extended data for the app body portion -->
{% block body_sites %}
    {% if sites %}
    <script> $ = jQuery; </script>
        <canvas class="chart-canvas" id="site-catagory-graph" width="300" height="300" style=""></canvas>
    {% else %}
        <h3> Currently No Website Data !</h3>
    {% endif %}
{% endblock %}

<!-- Extended data for the app usage title  portion -->
{% block box_title_app_usage %} Installed Apps {% endblock %}

<!-- Extended data for the app body portion -->
{% block body_app_usage %}
<div class="table-wrapper">
<table class="table table-hover" id="app_table">
<thead>
<tr>
  <th>App Name</th>
  <th>Market Link</th>
  <th>Install Date</th>
  <th>Content Rating</th>
</tr>
</thead>
<tbody>
{% for app in app_list %}
<tr>
  <td><a href="/CD9/app_detail/{{app.id}}/"> {{app.appName}} </a></td>
  <td><a href="{{app.marketUrl}}"> {{app.marketUrl}}</a></td>
  <td>{{app.installDate}}</td>
  <td>{{app.contentRating}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}

{% block box_title_calendar %} Emotional Analysis Calendar {% endblock %}
{% block body_calendar %}
<div id="cal">
        <div class="header">
            <span class="left hook"></span>
            <span class="right hook"></span>
            <span class="left button" id="prev"><a class="arrow" href={{ prev }}>&lang;</a></span>
            <span class="right button" id="next"><a class="arrow" href={{ next }}>&rang;</a></span>
            <div id="headerContent">
                <span class="month-year" id="label">{{ monthstr }} 20{{ yearstr }}</span><!--dynamically add month and year here-->
            </div>
        </div>
        <table id="days">
            <td>sun</td>
            <td>mon</td>
            <td>tue</td>
            <td>wed</td>
            <td>thu</td>
            <td>fri</td>
            <td>sat</td>
        </table>
        <div id="cal-frame">
            <table class="curr">
                <tbody id="calBody"><!--dynamically add the class date, and figure out the starting day of the the loop months days(usearray)-->
                <tr>
                    {% for i in fstDayOfMonth%}
                        <td class="nil"  ></td>
                    {% endfor %}
                    {% for i in leftOver_list %}
                            <td class="day" >
                                {{ i.day }}
                                {% if day.day <= currentDay %}
                                <img class="smiley" src ={{i.pic}}>
                                {% endif %}
                            </td>
                    {% endfor %}
                </tr>
                {% for day in daysInMonth_list %}
                   {% if day.day == startingPoints.0 or day.day == startingPoints.1 or day.day == startingPoints.2 or day.day == startingPoints.3%}
                       <tr>
                           <td class="day">
                               {{ day.day }}
                               {% if day.day <= currentDay %}
<img class="smiley" src ={{day.pic}}>
{% endif %}
                           </td>
                        {% elif day.day == endingPoints.0 or day.day == endingPoints.1 or day.day == endingPoints.2 or day.day == endingPoints.3%}
                                <td class="day" >
                                  {{ day.day }}
                                  {% if day.day <= currentDay %}
<img class="smiley" src ={{day.pic}}>
{% endif %}
                                </td>
                            </tr>
                        {% else  %}
                                <td class="day" >
                                  {{ day.day }}
                                  {% if day.day <= currentDay %}
<img class="smiley" src ={{day.pic}}>
{% endif %}
                                </td>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock  %}

{% block box_title_interactions %} <span id=name>{{teen}} Interaction Percentage</span> {% endblock %}

{% block body_interactions %}
<div class="col-lg-6">
  <h3> Messages From {{teen}}</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Recipient</th>
        <th># of Texts</th>
        <th># of Social Media Posts</th>
      </tr>
    </thead>
    <tbody>

      {% for key, value in my_addresses.iteritems %}

      <tr>
        <td>{{value.name}}</td>
        <td>{{value.to_text_count}}</td>
        <td>0</td>
      </tr>

      {% endfor %}
    </tbody>
    </table>
</div>

<div class="col-lg-6">
<h3> Messages To {{teen}}</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Sender</th>
      <th># of Texts</th>
      <th># of Social Media Posts</th>
    </tr>
  </thead>
  <tbody>
   {% for key, value in my_from_addresses.iteritems %}
    <tr>
      <td>{{value.name}}</td>
      <td>{{value.from_text_count}}</td>
      <td>0</td>
    </tr>
    {% endfor %}

  </tbody>
  </table>
</div>
{% endblock  %}

{% block footer %}



<script>

var optionsPie =
    {

        tooltipEvents: [],

        showTooltips: true,

        onAnimationComplete: function () {
                this.showTooltip(this.segments, true);
            },

        //Boolean - Whether we should show a stroke on each segment
        segmentShowStroke : true,

        //String - The colour of each segment stroke
        segmentStrokeColor : "#fff",

        //Number - The width of each segment stroke
        segmentStrokeWidth : 2,

        //Number - The percentage of the chart that we cut out of the middle
        percentageInnerCutout : 0, // This is 0 for Pie charts

        //Number - Amount of animation steps
        animationSteps : 100,

        //String - Animation easing effect
        animationEasing : "easeOutBounce",

        //Boolean - Whether we animate the rotation of the Doughnut
        animateRotate : true,

        //Boolean - Whether we animate scaling the Doughnut from the centre
        animateScale : true,

        //String - A legend template
        legendTemplate : "<ul class=\"<\%=name.toLowerCase()\%>-legend\"><\% for (var i=0; i<segments.length; i++){\%><li><span style=\"background-color:<\%=segments[i].fillColor\%>\"></span><\%if(segments[i].label){\%><\%=segments[i].label\%><\%}\%></li><\%}\%></ul>"

    };

    //var alertContext = document.getElementById("alert-catagory-graph").getContext("2d");
    var appContext2 = document.getElementById("site-catagory-graph").getContext("2d");
    // For a pie chart
    var myAppAlertPieChart = new Chart(appContext2).Pie(website_data_pie,optionsPie);

    var alertContext3 = document.getElementById("alert-catagory-graph").getContext("2d");
    //var appContext = document.getElementById("site-catagory-graph").getContext("2d");
    // For a pie chart
    var mySiteAlertPieChart = new Chart(alertContext3).Pie(alert_data_pie,optionsPie);


</script>

<script type="text/javascript">
    $('#app_table').DataTable();
</script>


{% endblock %}

{% block role %}
  {% if is_teen %}
    <p> Teen </p>
  {% else %}
    <P> Concerned Parent</p>
  {% endif %}
{% endblock %}
